@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400;600;700&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  height: 100vh;
  background-color:#fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background: black;
  min-height: 8vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: sticky;
  box-sizing: border-box;
}

.navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}

.logo img {
  max-height: 65px;
  margin-left: 20px;
}

.navbar-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 20px 10px;
  display: inline-block;
  padding: 8px 15px;
  transition: 0.3s ease, color 0.3s ease;
  font-size: 15px;
  font-weight: 500;
}

.navbar-nav li a:hover {
  background-color: #3af421;
  color: #fe0007;
}

.navbar .navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar .toggle-btn {
  cursor: pointer;
  position: relative;
  top: 5px;
  z-index: 1100;
}

.scroll-indicator-container{
  width: 100%;
  height: 5px;
}
.scroll-indicator-bar{
  background: lightseagreen;
  width: 50%;
  height: 100%;
}

.nav-link{
  margin-right: 20px;
  color: white;
}

.cart-icon:hover {
  background-color: transparent;
  color: white;
}

/*Responsive Mobile View Button for Navbar*/

.navbar .navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar .toggle-btn {
  cursor: pointer;
  position: relative;
  top: 5px;
  z-index: 1100;
}

.navbar .toggle-btn .bar {
  width: 25px;
  height: 3px;
  margin: 7px 0 7px auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #3af421;
}

.navbar .toggle-btn .bar:nth-child(2) {
  width: 35px;
}

.navbar #toggle-menu {
  display: none;
}

.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(2) {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  opacity: 0;
}

.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(45deg);
  -ms-transform: translateY(12px) rotate(45deg);
  transform: translateY(12px) rotate(45deg);
}

.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.modal-dialog {
  margin-left: -3px;
  margin-top: -3px;
  width: 85%;
}

.modal-dialog .modal-content {
  background-color: #2a252e;
}

.modal-dialog .modal-header,
.modal-dialog .modal-footer {
  border: none;
}

.modal-dialog .modal-header img {
  max-height: 40px;
}

.modal-dialog .modal-body {
  padding-top: 65px;
  background-color: black;
}

.modal-dialog .nav-link {
  font-size: 18px;
  margin-bottom: 30px;
  color: white;
}

.modal-dialog .nav-link i {
  margin-right: 10px;
  color: #3af421;
}

.dropdown-menu {
  background-color: #2a252e;
  color: #3af421;
}

.dropdown-item {
  color: white;
}

.modal-dialog .btn-secondary {
  color: white;
  background-color: #3af421;
  border: none;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border-color: #3af421;
    border-radius: 50px;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #3af421;
    color: #fe0007;
  }
  
  .btn:focus,
  .btn:active {
    box-shadow: none;
    outline: none;
  }
  
  .btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
/* About */

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    height: 80vh; 
    background-color: #f8f8f8; 
    border-radius: 12px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.container i {
    font-size: 2em; 
    color: #333; 
    display: block; 
    margin: 20px auto; 
    text-align: center;
}

#about-section {
    padding: 2em;
}

#about-section img {
    float: left;
    width: 350px;
    height: 340px;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: cover; 
}

#about-section p {
    text-align: justify;
    color: #555; 
}

#reviews-section p {
    text-align: justify;
    color: #555; 
}

h2 {
    color: #333;
}


.testimonials-section{
	width: 100%;
	padding: 0px 8%;
  height: 100vh;
}
.testimonials-section .section-header{
	max-width: 700px;
	text-align: center;
	margin: 30px auto 40px;
}
.section-header h1{
	position: relative;
	font-size: 36px;
	color: #fff;
}
.testimonials-container{
	position: relative;
}
.testimonials-container .testimonial-card{
	padding: 20px;
}
.testimonial-card .test-card-body{
	background-color: #2a252e;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.12);
	padding: 20px;
}
.test-card-body .quote{
	display: flex;
	align-items: center;
}
.test-card-body .quote i{
	font-size: 45px;
	color: #fff;
	margin-right: 20px;
}
.test-card-body .quote h2{
	color: #fff;
}
.test-card-body p{
	margin: 10px 0px 15px;
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
}
.test-card-body .ratings{
	margin-top: 20px;
}
.test-card-body .ratings i{
	font-size: 17px;
	color: yellow;
	cursor: pointer;
}
.testimonial-card .profile{
	display: flex;
	align-items: center;
	margin-top: 25px;
}
.profile .profile-image{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
}
.profile .profile-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.profile .profile-desc{
	display: flex;
	flex-direction: column;
}
.profile-desc span:nth-child(1){
	font-size: 24px;
	font-weight: bold;
	color: #333;
}
.profile-desc span:nth-child(2){
	font-size: 15px;
	color: #434753;
}
.owl-nav{
	position: absolute;
	right: 20px;
	bottom: -10px;
}
.owl-nav button{
	border-radius: 50% !important;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i{
	padding: 10px !important;
	border-radius: 50%;
	font-size: 18px !important;
	color: var(--primary-clr);
	cursor: pointer;
	transition: 0.4s;
}
.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover{
	background-color: #3af421 !important;
	color: #fe0007;
}
.owl-dots{
	margin-top: 15px;
}

/* Mobile Responsive  */
/* RESPONSIVE SECTION */
@media(min-width: 576px) {
    .cart-icon {
        font-size: 1.6rem;
    }
    body{
        font-size: 1.1rem;
    }
  }
  
  @media(max-width: 576px) {
    .contact_section {
      padding: 1rem 0;
    }
    .contact_container{
      margin: 10px;
    }
    .contact_details_text{
      font-size: 17px;
    }
    .contact_details_icon{
      font-size: 17px;
    }
    .social_icons{
      font-size: 20px;
    }
  }
  
@media only screen and (max-width: 768px) {
    header {
        padding: 0.5em;
    }

    .container {
        width: 90%;
        padding: 10px;
        height: 125vh;
    }

    #about-section img {
        float: none;
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 10px;
    }
}