@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400;600;700&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  height: 100vh;
  background-color:#fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background: black;
  min-height: 8vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: sticky;
  box-sizing: border-box;
}

.navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}

.logo img {
  max-height: 65px;
  margin-left: 20px;
}

.navbar-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 20px 10px;
  display: inline-block;
  padding: 8px 15px;
  transition: 0.3s ease, color 0.3s ease;
  font-size: 15px;
  font-weight: 500;
}

.navbar-nav li a:hover {
  background-color: #3af421;
  color: #fe0007;
}

.navbar .navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar .toggle-btn {
  cursor: pointer;
  position: relative;
  top: 5px;
  z-index: 1100;
}

.scroll-indicator-container{
  width: 100%;
  height: 5px;
}
.scroll-indicator-bar{
  background: lightseagreen;
  width: 50%;
  height: 100%;
}

.nav-link{
  margin-right: 20px;
  color: white;
}

.cart-icon:hover {
  background-color: transparent;
  color: white;
}


/*Responsive Mobile View Button for Navbar*/
.navbar .navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar .toggle-btn {
  cursor: pointer;
  position: relative;
  top: 5px;
  z-index: 1100;
}

.navbar .toggle-btn .bar {
  width: 25px;
  height: 3px;
  margin: 7px 0 7px auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #3af421;
}

.navbar .toggle-btn .bar:nth-child(2) {
  width: 35px;
}

.navbar #toggle-menu {
  display: none;
}

.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(2) {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  opacity: 0;
}

.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(45deg);
  -ms-transform: translateY(12px) rotate(45deg);
  transform: translateY(12px) rotate(45deg);
}

.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.modal-dialog {
  margin-left: -3px;
  margin-top: -3px;
  width: 85%;
}

.modal-dialog .modal-content {
  background-color: #2a252e;
}

.modal-dialog .modal-header,
.modal-dialog .modal-footer {
  border: none;
}

.modal-dialog .modal-header img {
  max-height: 40px;
}

.modal-dialog .modal-body {
  padding-top: 65px;
  background-color: black;
}

.modal-dialog .nav-link {
  font-size: 18px;
  margin-bottom: 30px;
  color: white;
}

.modal-dialog .nav-link i {
  margin-right: 10px;
  color: #3af421;
}

.dropdown-menu {
  background-color: #2a252e;
  color: #3af421;
}

.dropdown-item {
  color: white;
}

.modal-dialog .btn-secondary {
  color: white;
  background-color: #3af421;
  border: none;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border-color: #3af421;
    border-radius: 50px;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #3af421;
    color: #fe0007;
  }
  
  .btn:focus,
  .btn:active {
    box-shadow: none;
    outline: none;
  }
  
  .btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

/*Signin Section*/
.login_section{
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login_container{
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  box-shadow: 0 0 7px #dbdbdb;
}
.signup_title{
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 525;
  margin-bottom: 20px;
}
.login_content{
  font-family: 'Poppins', sans-serif;
  width: 400px;
  padding: 50px;
}
.textbox{
  margin: 5px 0;
}
input[type=text], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid gray;
  background-color: #fafafa;
  transition: all 0.3s ease-in-out;
}
input[type=text]:focus {
  outline: none;
  border-bottom: 1.5px solid black;
}
input[type=password]:focus {
  outline: none;
  border-bottom: 1.5px solid black;
}
.login-btn{
  margin-top: 30px;
  background: #fe0007;
  color: #FFFFFF;
  border: none;
  width: 130px;
  height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.login-btn:hover{
  background: #a70006
}
.login_text{
  margin-top: 10px;
  margin-bottom: 0;
}
.login_link{
  color: #fe0007;
}
